<div (click)="$event.stopPropagation()" style="width: fit-content">
  @for(reactions of reactionsDto.reactions; track reactions.type) {
    <div style="display: inline-block; margin-right: 10px">
      <div [class]="reactionsDto.userReaction === reactions.type ? 'marked' : ''">
      <span style="margin-right: 20px; cursor: pointer"
            (click)="setReaction(reactions.type); $event.stopPropagation()">
        <img [ngSrc]="'assets/reactionType_' + reactions.type + '.svg'"
             height="30"
             width="30"
             alt=""/>
        <b>{{reactions.count}}</b>
      </span>
      </div>
    </div>
  }
</div>
