<div *ngFor="let event of events">
  <p-card (click)="onEventClick(event)" header="{{event.name}}" subheader="{{event.organizingUnit.name}}">
    <ng-template pTemplate="content">
      <div>
        <b>Data: </b>{{event.date}}
      </div>
      <div style="margin-top: 30px">
        <b>Zapisanych osób: </b>{{event.participantCount}}
        @if(event.userRegistered) {
          <b style="padding: 7px; background: #a3DDa1" class="marked">Zapisano!</b>
        }
      </div>
    </ng-template>
    <ng-template pTemplate="footer">
      <div class="col" style="display: inline">
        <app-reactions [object]="event"/>
      </div>
    </ng-template>
  </p-card>
</div>
