<div>
  <p-card header="{{event.name}}" subheader="{{event.organizingUnit.name}}">
    <ng-template pTemplate="header">
      <img alt="Card" src="{{event.imageUrl || 'https://primefaces.org/cdn/primeng/images/usercard.png'}}" />
    </ng-template>
    <ng-template pTemplate="content">
      <p>{{event.description}}</p>
      <p>{{event.date | date : "dd.MM.YYYY"}}</p>
    </ng-template>
    <ng-template pTemplate="footer">
      <div class="row">
        <div class="col">
          <div>
            <p-toggleButton onLabel="Wypisz się"
                            offLabel="Zapisz się"
                            [(ngModel)]="event.userRegistered"
                            (onChange)="changeEventRegistration(!$event.checked!)"/>
            <button class="btn btn-outline-primary"
                    style="height: 50px; margin-left: 10px"
                    (click)="inviteFriendsDialogVisible = true">
              Zaproś znajomego
            </button>
          </div>
          <div style="margin-top: 10px">
            <b>Zapisanych osób: {{event.participantCount}}</b>
            <span style="margin-left: 10px; cursor: pointer"
                  (click)="friendsDialogVisible = true">
              (w tym znajomych: {{registeredFriends.length}})
            </span>
          </div>
        </div>
        <div class="col-4">
          <app-reactions [object]="event" style="margin: 5px;"/>
        </div>
      </div>
    </ng-template>
  </p-card>
</div>

<p-dialog [(visible)]="friendsDialogVisible"
          [modal]="true"
          [header]="'Zapisani znajomi'">
  <div style="width: 400px; height: 400px">
    <div>
      @for(friend of registeredFriends; track friend.id) {
        <p>{{friend.firstName}} {{friend.lastName}}</p>
      }
    </div>
  </div>
</p-dialog>

<p-dialog [(visible)]="inviteFriendsDialogVisible"
          [modal]="true"
          header="Zaproś znajomego na to wydarzenie">
  <div style="width: 400px; height: 400px">
    <app-friends-list (buttonClick)="inviteFriend($event)"
                      buttonClass="btn btn-outline-success"
                      buttonText="Zaproś"/>
  </div>
</p-dialog>
