<div>
  <p-card header="{{event.name}}" subheader="{{event.organizingUnit.name}}">
    <ng-template pTemplate="header">
      <img alt="Card" src="https://primefaces.org/cdn/primeng/images/usercard.png" />
    </ng-template>
    <ng-template pTemplate="content">
      <p>{{event.description}}</p>
      <p>{{event.date}}</p>
    </ng-template>
    <ng-template pTemplate="footer">
      <div class="row">
        <div class="col">
          <p-toggleButton onLabel="Wypisz się"
                          offLabel="Zapisz się"/>
        </div>
        <div class="col-4">
          <app-reactions [object]="event" style="margin: 5px;"/>
        </div>
      </div>
    </ng-template>
  </p-card>
</div>
