<div class="event-container">
    <div class="details-column">
        <p-card header="{{event.name}}" subheader="{{event.organizer}}">
            <ng-template pTemplate="header">
                <img alt="Card" src="https://primefaces.org/cdn/primeng/images/usercard.png" />
            </ng-template>
            <ng-template pTemplate="content">
                <p>{{event.description}}</p>
                <p>{{event.date}}</p>
            </ng-template>
            <ng-template pTemplate="footer">
                <ng-container>
                    <p-toggleButton [onLabel]="'Wypisz się'" [offLabel]="'Zapisz się'"></p-toggleButton>
                </ng-container>
            </ng-template>
        </p-card>
    </div>
    <div class="posts-column">
        <p-card header="Posty:"></p-card>
    </div>
</div>