<p-tree [value]="treeNodes"
        [lazy]="true"
        [filter]="true"
        [loading]="loading"
        (onNodeExpand)="nodeExpand($event.node)">
  <ng-template let-node pTemplate="default">
    <b>{{node.label}}</b>
    @if(interactionButtonText) {
      <button class="btn btn-success btn-sm"
              (click)="organizingUnitButtonClick.emit(node.data)">
        {{interactionButtonText}}
      </button>
    }

    @if(checkbox) {
      <p-checkbox [binary]="true"
                  [ngModel]="checkedOrganizingUnitsIds.includes(node.data.id)"
                  (onChange)="checkboxChange.emit(node.data)"/>
    }
  </ng-template>
</p-tree>

