<form [formGroup]="searchForm">
  <div class="input-group">
    <div class="column">
      <div class="row">
        <p-calendar formControlName="dateFrom" placeholder="Data od" [dateFormat]="'dd.mm.yy'"/>
        <p-calendar formControlName="dateTo" placeholder="Data do" [dateFormat]="'dd.mm.yy'"/>
        <input type="text"
               formControlName="name"
               class="form-control"
               placeholder="Szukaj po nazwie..."
               style="margin-left: 17px"/>
      </div>
      <div class="row">
        <input type="text"
               formControlName="organizer"
               class="form-control"
               placeholder="Szukaj po organizatorze..."
               style="margin-left: 17px"/>
      </div>
    </div>
  </div>
</form>
