.event-form {
    margin-top: 20px;
    margin-bottom: 20px;
    width: 100%;
}

.event-form-container {
    display: flex;
    gap: 10px;
}

.save-button {
    display: flex;
    justify-content: flex-end;
}

.rich-text {
  width: 800px;
  height: 300px;
  border: solid lightgray;
  border-radius: 10px;
}

:host ::ng-deep .row {
  padding: 0;
}
