@if(mode === "list") {
  <div class="d-flex justify-content-center">
    <div class="column">
      <app-events-search (eventSelected)="onEventSelected($event)"/>
      <button class="btn btn-success" (click)="mode = 'edit'">Dodaj wydarzenie</button>
    </div>
  </div>
}

@if(mode === "edit") {
  <div class="d-flex justify-content-center">
    <div class="column">
      <app-event-editor (eventSaved)="mode = 'list'"/>
      <button class="btn btn-danger" (click)="mode = 'list'">Anuluj</button>
    </div>
  </div>
}

@if(mode === "view") {
  <app-event-view [event]="selectedEvent"/>
}
