<div>
  @if(mode === "list") {
      <div class="position-absolute top-50 start-50 translate-middle">
        @if(search | async; as events) {
          <app-events-list [events]="events"/>
        }
        <button class="btn btn-success" (click)="mode = 'edit'">Dodaj wydarzenie</button>
      </div>
  }

  @if(mode === "edit") {
    <div class="position-absolute top-50 start-50 translate-middle">
      <app-event-editor/>
      <button class="btn btn-danger" (click)="mode = 'list'">Anuluj</button>
    </div>
  }
</div>
