<div class="spacer"></div>
<p-card>
    <div *ngFor="let comment of comments">
        <div class="comment-container">
            <p-avatar image="https://primefaces.org/cdn/primeng/images/demo/avatar/amyelsner.png" shape="circle" />
            <div class="comment-content-container">
                <span class="font-bold">{{comment.author}}</span>
                <p class="m-0">{{comment.content}}</p>
            </div>
        </div>
        <div class="spacer"></div>
    </div>
    <div class="comment-container">
        <p-avatar image="https://primefaces.org/cdn/primeng/images/demo/avatar/amyelsner.png" shape="circle" />
        <div class="comment-input-container">
            <input type="text" placeholder="Napisz komentarz..." pInputText [(ngModel)]="content" />
        </div>
    </div>
</p-card>